/* General Selectors */

body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

h1 { margin: 0; }


/* Main Menu Selectors */

.mainMenu {
  width: 30%;
  height: 30%;
  margin: 10% auto;
  padding: 5% 15%;
  text-align: center;
  font-size: 30px;
  background-color: #eee;
  border: 2px groove #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 80%;
  padding: 10px 0;
  margin: 30px auto;
  background-color: #ddd;
  border: 2px groove #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.button:hover {
  cursor: pointer;
  background-color: #ccc;
  border: 2px inset #bbb;
}

.selectConfig.hide { display: none; }


/* Main Game Selectors */

#playerActions {
  width: 100%;
  height: 400px;
  margin: calc(18.4% - 200px) 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

#stats {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 25%;
  font-size: 20px;
  text-align: left;
  margin: 0 auto;
}

.playerAction {
  width: 150px;
  height: 20px;
  padding: 15px 25px;
  margin: 0 auto;
  background-color: #eee;
  border: 2px groove #ddd;
  border-radius: 5px;
  font-size: 20px;
  line-height: 20px;
}
.playerAction:hover {
  cursor: pointer;
  background-color: #ddd;
  border: 2px inset #aaa;
}

.subActions {
  display: none;
  position: absolute;
  width: 20%;
  height: 30%;
  top: 22%;
  right: 7.5%;
  background-color: #bbbbbb;
  border: 1px groove #aaa;
  flex-direction: column;
  justify-content: space-evenly;
}

.subAction {
  width: 150px;
  padding: 10px 0;
  margin: 0 auto;
  background-color: #aaa;
  border: 1px solid #999;
  border-radius: 5px;
}

.inactive {
  opacity: 0.25;
}

.subActions > .close {
  position: relative;
  left: 332px;
  width: fit-content;
  padding: 2.5px 5px;
  background-color: #ddd;
  border: 1px solid #888;
  border-radius: 4px;
}
